.workout-plan-controls {
  display: flex;
  padding-bottom: 20px;
  flex-direction: row-reverse;
}
.workout-plan-table {
  width: 100%;
  margin: auto;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  background-color: var(--modal-background-color);
  border-collapse: separate;
  border-spacing: 0 10px;
}

.workout-plan-table th,
.workout-plan-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid var(--input-text-color);
}

.clickable-plan-name {
  background: none;
  border: none;
  padding: 0;
  color: var(--link-color);
  text-align: left;
  font-weight: bold;
  cursor: pointer;
}

.clickable-plan-name:hover {
  text-decoration: underline;
}
#unique-blinking-cursor.blinking-cursor {
  margin-bottom: 0;
}

.create-workout-plan-button {
  animation: glowing-shadow 2s infinite ease-in-out;
}
