/* WorkoutList.css */

.workout-list-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  background-color: var(--modal-background-color);
}

.workout-list-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.workout-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-cancel {
  margin-left: 10px;
}

.workout-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: var(--modal-background-color);
}

.workout-table th,
.workout-table td {
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--input-text-color);
}
.date-header {
  text-align: left;
}
.action-header,
.previous-workout-btns {
  text-align: center;
}

.workout-table th {
  background-color: var(--modal-background-color);
}

.workout-table tr:hover {
  background-color: var(--button-background);
}

.edit-workout-button,
.delete-workout-button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-workout-button {
  animation: glowing-shadow 2s infinite ease-in-out;
}

.edit-workout-button:hover,
.delete-workout-button:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

.workout-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.planned-workout-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 20px;
}

.previous-workout-btns {
  /* display: grid; */
  height: 40px;
  padding: 0;
  align-items: center;
}

.modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
